@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

header,
#principal,
#second,
#contato,
#stream {}

.link-menu {
  color: #fff;
  background-color: #555;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;
}

.m {
  background-color: #e04b5a;
}

main {
  background-color: #333;
  color: #ddd;
}

h1,
h2 {
  font-family: 'Amatic SC';
}

#second a {
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#menu {
  display: flex;

}

#menu li {
  list-style: none;
  margin: 15px;
  border-radius: 4px;
}

#menu a {
  border-radius: 10px;
  padding: 20px;
}

#logo {
  width: 200px;

}

#email a {
  color: #fff;
}

#contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#principal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#principal img {
  width: 200px;
  margin-left: 400px;
}
#sec_ctd{
  justify-content: center;
  margin-right: 550px;
  list-style: none;
  text-decoration: none;
}
#sec_ctd p {
  justify-content: center;
  text-align: justify;
  margin-bottom: 85px;
  margin-right: 70px;
  text-decoration: none;

}

h1 {
  text-align: right;
}

#second img {
  width: 200px;
  margin: 40px;

}

#second {
  align-items: center;
  justify-content: center;
  display: flex;
}

#acesso {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgb(0,0,0);


}
#acesso img{
  width: 30px;
}
#descricao  {
  background-color: white;
  padding: 50px;
  border: 1px solid;
  margin: 90px 90px;
  width: 600px;

}

#descricao {
  padding: 50px;
}



footer img {
  width: 20px;
}

 a{
  text-decoration: none;
  list-style: none;
  font-family: 'Amatic SC';
}
section .l { 
  list-style: none;
  text-decoration: none;
  color:white;
  font-family: 'Amatic SC';

}